* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0f0f0f;
  color: #f5f5f5;
  line-height: 1.6;
}

section {
  padding: 80px 10%;
}

h1, h2, h3 {
  font-weight: 600;
}

.hero-content {
  margin: auto 0;
  max-width: 700px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  margin-top: 120px;
  max-width: 700px;
}

.hero h1 span {
  color: #4fd1c5;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  border: 1px solid #4fd1c5;
}

.primary {
  background: #4fd1c5;
  color: #000;
}

.outline:hover,
.primary:hover {
  opacity: 0.85;
}

.about, .skills, .projects {
  background: #111;
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.stats div span {
  display: block;
  font-size: 0.9rem;
  color: #aaa;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.project {
  background: #1a1a1a;
  padding: 30px;
  margin-top: 20px;
  border-radius: 8px;
}

.project span {
  display: block;
  margin-top: 10px;
  color: #4fd1c5;
  font-size: 0.9rem;
}

.contact {
  text-align: center;
}

.links a {
  margin: 0 15px;
  color: #4fd1c5;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #777;
}

